<section layout="row" layout-align="center center" class="">
  <ul class="nav-list" hide-sm>
    <li>
      <a href="#">
        <img src="/images/social/email.png" class="icon"/>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/theangelmarie">
        <img src="/images/social/twitter.png" class="icon"/>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/theangelmarie">
        <img src="/images/social/instagram.png" class="icon"/>
      </a>
    </li>
  </ul>
</section>
