<section layout="row">
  <div style="margin-top:50px;">
    <!-- <a
      style="display:none"
      id="setmore-href"
      target="_blank"
      href="http://my.setmore.com/bookanappointmentnew.do?uniqueKey=6fdf85085c0fc5fbefddceaef57348788639fa0d">
    </a> -->
    <!-- href="https://my.setmore.com/shortBookingPage/6fdf85085c0fc5fbefddceaef57348788639fa0d" -->
  </div>
  <section layout="column" flex>
    <div ng-include="'app/layout/topbar.html'"></div>
    <md-content class="offset-nav fill">
      <header class="clearfix">
        <!-- <div>Picture could go here</div> -->
      </header>
      <section id="content">
        <!-- <div ng-include="'app/layout/sidebar.html'"></div> -->

        <div ui-view></div>

        <!-- <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="700"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>

            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div> -->
      </section>
    </md-content>
    <div ng-include="'app/layout/footer.html'" class="footer"></div>
  </section>
</section>
