<section ng-controller="TopBarController as ctrl" class="fill">
  <div layout="column" z-index="-1">
    <md-toolbar class="main-nav pin-top md-whiteframe-z3 dark">
      <nav>
        <md-button hide-gt-sm class="pull-left" ng-click="ctrl.toggle()">
          Toggle
        </md-button>
        <h1 class="pull-left">
          <a ui-sref="home" md-button>Angel Marie Nails</a>
        </h1>
        <ul class="nav-list" hide-sm>
          <li>
            <a href="#">
              <img src="/images/social/email.png" class="icon"/>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/theangelmarie">
              <img src="/images/social/twitter.png" class="icon"/>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/theangelmarie">
              <img src="/images/social/instagram.png" class="icon"/>
            </a>
          </li>
        </ul>
      </nav>
    </md-toolbar>
  </div>
</section>
