<section ng-controller="TopBarController as ctrl" class="fill">
  <div layout="column" z-index="-1">
    <md-toolbar class="main-nav pin-top md-whiteframe-z3 dark">
      <nav>
        <div
          hide-gt-sm
          style="margin-top:16px"
          class="pull-left pointer"
          ng-click="ctrl.toggle()">
          <i class="material-icons">menu</i>
        </div>
        <h1 class="pull-left title pointer" hide-sm ui-sref="home">
          Angel Marie Nails
        </h1>
        <h1 class="pull-left title" hide-gt-sm>
          {{ctrl.getCurrentState()}}
        </h1>
        <ul class="nav-list pull-right" hide-sm>
          <li class="pointer" ui-sref="contact">
            Contact
          </li>
          <li class="pointer" ui-sref="faq">
            FAQ
          </li>
          <li class="pointer" ui-sref="about">
            About
          </li>
          <li ui-sref="prices" class="pointer">
            Prices
          </li>          
          <li ui-sref="home" class="pointer">
            Home
          </li>
        </ul>
      </nav>
    </md-toolbar>
  </div>
</section>
