<md-toolbar class="main-nav pin-top md-whiteframe-z3 dark">
  <nav>
    <h1 class="pull-left">
      <a class="logo" ui-sref="home" md-button>Angel Marie Nails</a>
    </h1>
    <ul class="nav-list">
      <li class="pointer">
        <a href="#">
          <img src="/images/social/email.png" class="icon"/>
        </a>
      </li>
      <li class="pointer">
        <a href="https://twitter.com/theangelmarie">
          <img src="/images/social/twitter.png" class="icon"/>
        </a>
      </li>
      <li class="pointer">
        <a href="https://instagram.com/theangelmarie">
          <img src="/images/social/instagram.png" class="icon"/>
        </a>
      </li>
    </ul>
  </nav>
</md-toolbar>
