<section id="gallery" layout-align="center center" layout="column">
  <md-subheader
    hide-sm
    flex="100"
    class="md-primary breadcrumb">
      Gallery
    </md-subheader>
  <md-content
    flex="100">
    <md-card ng-repeat="image in ctrl.images track by $index" ng-click="ctrl.openSlideshowModal($index)">
      <img ng-src="{{image.thumbUrl}}" width="300" height="300" class="img-thumbnail" alt="">
    </md-card>

    <div ng-photoswipe slides="ctrl.images" open="ctrl.isGalleryOpen" on-close="ctrl.closeGallery()" options="ctrl.options"></div>
  </md-content>
</section>
