.fill {
  height: 100%;
}

.no-margin{
  margin: 0;
}

#main-content{
  background-color: rgb(23, 26, 26);
}

h1.title {
  font-size: 17px;
  margin-top: 17px;
  margin-left: 10px;
}

body {
  color: rgba(255,255,255,0.87);
  font-family: fugaz-one, sans-serif;
  font-size: 1.5em;
}

md-content, section {
  background-color: rgb(23, 26, 26);
}

md-card{
  background-color: rgb(32, 35, 38);
}

.sub-text {
  color: rgb(92, 93, 94);
  font-size: 0.7em;
}

.small-text {
  font-size: 0.7em;
}

.offset-nav {
  padding-top: 56px;
}

.pointer {
  cursor: pointer;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.icon {
  height: 24px;
  width: 24px;
}

.menu {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  padding-bottom: 30px;
}
