.fill {
  height: 100%;
}

.no-margin{
  margin: 0;
}

#main-content{
  background-color: rgb(23, 26, 26);
}

body {
  color: rgba(255,255,255,0.87);
  font-family: fugaz-one, sans-serif;
  font-size: 1.5em;
}

md-content {
  background-color: rgb(23, 26, 26);
}

md-card {
  background-color: rgb(32, 35, 38);
}

.offset-nav {
  padding-top: 56px;
}

.pointer {
  cursor: pointer;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.icon {
  height: 24px;
  width: 24px;
}

.menu {
  text-align: center;
}
