.fill {
  height: 100%;
}

body {
  color: rgba(255,255,255,0.87);
}

md-content {
  background-color: rgb(23, 26, 26);
}

md-card {
  background-color: rgb(32, 35, 38);
}

.offset-nav {
  padding-top: 56px;
}
