md-tab-item span{
  color: rgba(255,255,255,0.87) !important;
}

md-tabs.md-primary md-tabs-wrapper {
  //background-color: rgb(115, 134, 255) !important;
  background-color: transparent !important;
}

.no-padding-top{
  padding-top: 0;
}

md-tabs md-ink-bar {
  color: rgb(255, 19, 82);
  background: rgb(255, 19, 82);
}
